DB_VENDOR=sqlite
DB_HOST=":memory:"
DB_LOGGING=false

# DB_VENDOR=mysql
# DB_HOST=db_test
# DB_DATABASE=micro_videos_test
# DB_USERNAME=root
# DB_PASSWORD=root
# DB_PORT=3306
# DB_LOGGING=false
# DB_AUTO_LOAD_MODELS=true